
*{
    margin: 0;
    padding: 0;
}
.HomeContainer
{
    display: flex;
    flex-direction: row; 
    width: auto;
    height: 100vh;
}
.sub-container
{
    margin-top: 100px;
    margin-left: 50px;
}
.imageLogin
{
    width: 60%;
    height: 80vh;
    margin-left: 30px;
    margin-top: 80px;
}
.headers
{
    display: flex;
    flex-direction: column;
    color: black;
    /* margin-top: 100px; */
    /* margin-left: 50%; */
    font-size: 30px;
    font-weight:bold;
    gap: 70px;
}
.inputs
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* margin-left: 50%; */
    gap: 50px;
    outline: none;
}
.inputs input
{
    border: none;
    border-bottom: 2px solid #e3d8d8;
    padding: 8px;
    width: 400px;
    height: 40px;
    outline: none;
}
::placeholder {
    color: black;
    font-weight: 700;
    font-size: larger;
    opacity: 0.4;
  }
  .account
  {
    float: left;
    margin-top: 50px;
  }
  .account span
  {
    color: blue;
    font-weight: 500;
  }
.submit-container button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 30px;
    margin-top: 120px;
    background: rgb(30, 136, 229);
    border-radius: 5px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
}
.linkabs{
    list-style: none;
    text-decoration: none;
}
#id1
{
    color: black;
    text-decoration: none;
    padding-right: 10px;

}

.toast-message {
    background: rgb(0, 130, 139);
    color: #fff;
    font-size: 20px;
    width: 44vw;
    padding: 30px 20px;
  }