
.box-container
{
    display: flex;
    flex-direction: row; 
    height: 100vh;
    /* background-color: black; */
}
.sub-box-container
{
    margin-left: 80px;
    margin-top: 40px;
}

.imageSignup
{
    width: 50%;
    height: 80vh;
    margin-left: 30px;
    margin-top: 30px;
}
.header
{
    display: flex;
    flex-direction: column;
    color: black;
    /* margin-top: 100px; */
    /* margin-left: 50%; */
    font-size: 30px;
    font-weight:bold;
    gap: 70px;
}
.inputs
{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* margin-left: 50%; */
    gap: 40px;
}
.inputs input
{
    border: none;
    border-bottom: 2px solid #e3d8d8;
    padding: 8px;
    width: 400px;
    height: 40px;
    outline: none;
}
::placeholder {
    color: black;
    font-weight: 700;
    font-size: larger;
    opacity: 0.4;
  }
  .account
  {
    margin-top: 30px;
    float: left;
  }
.submit
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 30px;
    margin-top: 90px;
    background: rgb(30, 136, 229);
    border-radius: 5px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
}
.linkab{
    list-style: none;
    text-decoration: none;
    color: black;
}