/* body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.logo {
  font-size: 1.5em;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  padding-left: 2rem;
}

.hamburger {
  font-size: 1.5em;
  cursor: pointer;
}

.sidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 200px;
  height: 100vh;
  position: absolute;
  margin-right: 200px;
  top: 0;
  right: -200px;
  transition: right 0.3s;
}

.sidebar-open {
  right: 200px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #d9534f;
  border: none;
  outline: none;
  cursor: pointer;
}

.sidebar-bottom {
  margin-top: 400px;

}
.Close-btn
{
  margin-top: auto; /* Move to the bottom 
  margin-top: 10px; /* Add margin between buttons }*/
*/

.navbar-container
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: rgb(29, 120, 248);
    height: 80px;
    position: relative;
    }
.logo{
    display: flex;
    margin: 10px 40px;
}
.logo img{
    width: 80px;
    height: 60px;
}
.logo h3{
    margin-top: 10px;

}

.navbar-container li{
    /* color:rgb(29, 120, 248); */
    color:white;
    font-family: cursive;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px 30px;
    margin: 10px 7px;
    margin-bottom: 40px;
    transition: background-color 0.3s;
    display: inline;
    cursor: pointer;
}

.navbar-container a {
    text-decoration: none;
}
.navbar-container li i{
    font-size: 40px
}
.unordered-list{
    display: flex;
    float: right;
    margin: 20px;
}
.unordered-list li{
    text-decoration: none;
    list-style: none;
}